<!-- Load Bootstrap JS from CDN-->

<script src="/js/main.js"></script>
<div class="footer-wrapper">
  <footer class="container">
    <p class="col-md-4 mb-0 text-muted"> myFilm © 2022 - TUC</p>
  </footer>
</div>

<%- include('./modals/rating.ejs') %>
<%- include('./modals/login.ejs') %>
<%- include('./modals/register.ejs') %>
<%- include('./modals/play.ejs') %>
