<div class="container p-5">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="h2"><%= title %></h1>
      <% if(typeof loggedIn != 'undefined' && loggedIn && userType == "admin"){ %>
        <a href="/person" class="btn btn-primary">Add Person</a>
      <% } %>      
    </div>
    <br>
    <div class="col-md-8 col-sm-12 col-xs-12">
    <div class="col-md-12">
      <div class="ceb-item-style-2">
        <img src="img/crews/cw1.jpg" alt="">
        <div class="ceb-infor">
          <h2><a href="celebritysingle.html">Dan Stevens</a></h2>
          <span>actor, usa</span>
          <p>Dan Stevens was born at Croydon in Surrey on 10th October 1982. His parents are teachers. He was educated at Tonbridge School and trained in acting at the National Youth Theatre of Great Britain... </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="ceb-item-style-2">
        <img src="img/crews/cw2.jpg" alt="">
        <div class="ceb-infor">
          <h2><a href="celebritysingle.html">Luke Evans</a></h2>
          <span>actor, mexico</span>
          <p>Luke George Evans was born in Pontypool, Wales, and grew up in Aberbargoed, in the south of Wales. He is the son of Yvonne (Lewis) and David Evans. He moved to Cardiff at the age 17...</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="ceb-item-style-2">
        <img src="img/crews/cw3.jpg" alt="">
        <div class="ceb-infor">
          <h2><a href="celebritysingle.html">Scarlett Johansson</a></h2>
          <span>actress, france</span>
          <p>Scarlett Ingrid Johansson was born in New York City. Her mother, Melanie Sloan, is from a Jewish family from the Bronx, and her father, Karsten Johansson, is a Danish-born architect, from Copenhagen...</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="ceb-item-style-2">
        <img src="img/crews/cw4.jpg" alt="">
        <div class="ceb-infor">
          <h2><a href="celebritysingle.html">Emma Watson</a></h2>
          <span>actress, uk</span>
          <p>Emma Charlotte Duerre Watson was born in Paris, France, to English parents, Jacqueline Luesby and Chris Watson, both lawyers. She moved to Oxfordshire when she was five...</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="ceb-item-style-2">
        <img src="img/crews/cw5.jpg" alt="">
        <div class="ceb-infor">
          <h2><a href="celebritysingle.html">Tom Hardy</a></h2>
          <span>actor, italy	</span>
          <p>Joan Crawford was born Lucille Fay LeSueur on March 23, 1905, in San Antonio, Texas, to Anna Belle (Johnson) and Thomas E. LeSueur, a laundry laborer. By the time she was born her parents had separated....</p>
        </div>
      </div>
    </div>
  </div>
</div>
  