<div
  class="modal fade"
  id="playMovieModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color:var(--secondary-color)">
      <form method="POST" action="/watch-film" class="d-flex justify-content-center align-items-center" style="height:70vh">
          <div>
              <input name="film_id" id="play_film_id" hidden />
              <input name="user_id" hidden value="<%=userId%>" />
              <button type="submit" class="btn btn-primary" <%- userId ? '' : 'disabled' %>>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                  </svg>
              </button>
          </div>
      </form>
    </div>
  </div>
</div>
