<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <div class="container">
          <h1 class="h2">Add Film</h1>
          <br>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="movie-tab" data-bs-toggle="tab" data-bs-target="#movie" type="button" role="tab" aria-controls="movie" aria-selected="true">Movie</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="series-tab" data-bs-toggle="tab" data-bs-target="#series" type="button" role="tab" aria-controls="series" aria-selected="false">Series</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="movie" role="tabpanel" aria-labelledby="movie-tab">
              <div class="form-container col-8">
                <form method="POST" action="/film">
                  <input name="film_type" value="movie" hidden>
                  <div class="row mb-3">
                    <div class="col-6">
                      <div class="form-outline">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter movie name" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-outline">
                        <label class="form-label" for="subordinate_to">Subordinated To</label>
                        <select class="form-select" aria-label="Select subordinate(if any)" name="subordinated_to">
                          <option selected>Select (if any)</option>
                          <option value="1">Movie 1</option>
                          <option value="2">Movie 2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-outline">
                        <label class="form-label" for="release_date">Release Date</label>
                        <input type="text" class="form-control" name="release_date"placeholder="Eg. 2022-01-10" />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="country">Country of Origin</label>
                        <input type="text" class="form-control" name="country" placeholder="Eg. Germany"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="min_age">Minimum Age</label>
                        <input type="text" class="form-control" name="min_age" placeholder="Eg. 13"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="duration">Film Duration</label>
                        <input type="text" class="form-control " name="duration" placeholder="Eg. 2:40"/>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-8">
                      <div class="form-outline">
                        <label class="form-label" for="crew">Film Related person</label>
                        <select class="form-control movie-crew-select multiple" name="crew" id="movie_crew" multiple>
                            <option>John Cena (Producer)</option>
                            <option>The Rock (Director)</option>
                            <option>Edge (Actor)</option>
                            <option>Eve (Actress)</option>
                            <option>Triple-H (Actor)</option>
                          </select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-outline">
                        <label class="form-label" for="genre">Genre</label>
                        <select
                          class="form-control movie-genre-select multiple"
                          name="genre"
                          id="movie_genre"
                          multiple
                        >
                          <option>Comedy</option>
                          <option>Action</option>
                          <option>Thriller</option>
                          <option>Horror</option>
                          <option>Love</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea
                          class="form-control"
                          rows="4"
                          name="description"
                          placeholder="Enter description about the movie"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Save
                  </button>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">
              <div class="form-container col-8">
                <form method="POST" action="/film">
                  <input name="film_type" value="movie" hidden>
                  <div class="row mb-3">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter series name" />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="release_date">Release Date</label>
                        <input type="text" class="form-control" name="release_date"placeholder="Eg. 2022-01-10" />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="country">Country of Origin</label>
                        <input type="text" class="form-control" name="country" placeholder="Eg. Germany"/>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label" for="min_age">Minimum Age</label>
                        <input type="text" class="form-control" name="min_age" placeholder="Eg. 13"/>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-8">
                      <div class="form-outline">
                        <label class="form-label" for="crew">Film Related person</label>
                        <select class="form-control series-crew-select multiple" style="width: 100%" name="series_crew" id="series_crew" multiple>
                            <option>John Cena (Producer)</option>
                            <option>The Rock (Director)</option>
                            <option>Edge (Actor)</option>
                            <option>Eve (Actress)</option>
                            <option>Triple-H (Actor)</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-outline">
                        <label class="form-label" for="genre">Genre</label>
                        <select
                          class="form-control movie-genre-select multiple"
                          style="width: 100%"
                          name="series_genre"
                          id="series_genre"
                          multiple
                        >
                          <option>Comedy</option>
                          <option>Action</option>
                          <option>Thriller</option>
                          <option>Horror</option>
                          <option>Love</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea
                          class="form-control"
                          rows="4"
                          name="description"
                          placeholder="Enter description about the series"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Save
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
