<div class="container p-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h2">Watched Films</h1>
      </div>
      <br>

    <div class="movie-grid">
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>
        <div class="movie-item-style-2 movie-item-style-1">
            <img src="/img/movies/mv2.jpg" alt="">
            <div class="movie-item-info">
                <a href="#">Movie Name</a>
                <p>Ratings <span>8.1</span>/ 10</p>
            </div>
        </div>


    </div>
</div>
