<div class="container-fluid">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
          <div class="container">
              <div class="film-container">
                  <div class="film-image">
                      <img src="img/movies/mv1.jpg" alt="Movie image">
                  </div>
                  <div class="film-detail">
                    <div class="film-detail__header">
                        <p class="movie-title"><%= name %> <span class="movie-year"><%= release_year %> </span></p>
                        
                        <div class="movie-rate">
                            <div class="rate">
                                <i class="ion-android-star"></i>
                                <p><span><%= rating %></span> /10<br>
                                    <span class="rv">56 Reviews</span>
                                </p>
                            </div>
                            <div class="rate-star">
                                <p>Rate This Movie:  </p>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  
     